{
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:prettier/recommended"
  ],
  "overrides": [
    {
      "files": [
        "./src/commands/new.ts"
      ],
      "rules": {
        "camelcase": "off"
      }
    }
  ]
}
